.table-container {

    background-color: lightgray;
    padding: 2%;
    border-radius: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.table-container h1 {

    font-weight: 700;
    padding-bottom: 1%;
    text-decoration: underline;
}

.btn {
    margin-top: 3%;
}